/* custom fonts styles start*/

.Medium__12px {
  font-family: Poppins-Medium, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
}

.Medium__10px {
  font-family: Poppins-Medium, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  line-height: 150%;
}

.Regular__10px {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 150%;
}

.Medium__8px {
  font-family: Poppins-Medium, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8px;
  line-height: 150%;
}

.Regular__8px {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8px;
  line-height: 150%;
}

/* custom fonts styles end*/
