/* global css styles start*/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.page {
  box-sizing: border-box;
  inline-size: 595px;
  block-size: 842px;
  margin: auto;
  color: #000;
  font-family: Poppins, sans-serif;
  background-color: #fff;
}

.content-list {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

/* global css styles end*/

/* headlines styles start */

h2 {
  font-size: 14px;
  font-family: Poppins-Medium;
  line-height: 150%;
  font-weight: 500;
  font-style: normal;
}

h4 {
  color: #fff;
  font-family: Poppins-Medium, sans-serif;
  font-size: 5px;
  font-weight: 500;
  font-style: normal;
  line-height: 142%;
}

/* headlines styles end */

/* wrappers styles start */

.title__wrapper {
  display: flex;
  justify-content: space-between;
}

.content__wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 7.75rem 22.4375rem 18.0625rem;
  gap: 1.25rem;
  padding: 0.9375rem 1.25rem;
}

.tools__wrapper {
  margin-top: 0.4rem;
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* wrappers styles end */

/* containers&cards styles start */

.card__container {
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: #fff;
}

.container__grey {
  border-radius: 0.75rem;
  background-color: #f0f0f0;
}

.container__black {
  border-radius: 0.75rem;
  background-color: #000;
  color: #fff;
}

.most__recent-card {
  border-radius: 0.75rem;
  background-color: #28d979;
  color: #fff;
}

/* containers&cards styles end */

/* @ styles start */

@media print {
  
  .page {
    inline-size: 100%;
    box-shadow: none;
  }
}

/* @ styles end */
