/* content-start styles start */

.content-start {
  box-sizing: border-box;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 16.75rem 16.6875rem;
  position: relative;
}

.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.profile-img {
  inline-size: 7.75rem;
  block-size: 7.75rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 0.75rem;
}

.profile__info {
  padding: 0.75rem;
}

.profile__info .name {
  font-size: 14px;
  font-family: Poppins-SemiBold, sans-serif;
  line-height: 105%;
}

.profile__info .role {
  color: #5c5c5c;
}

.languages {
  padding: 0.75rem 0.75rem 1.375rem;
}

.name__languages {
  color: #000;
  font-family: Poppins-Medium, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  line-height: 105%;
}

/* content-start styles end */


/* content-middle styles start */


.content-middle {
  display: grid;
  grid-template-columns: 25.6875rem 7.75rem;
  gap: 1.25rem;
}

.experience {
  padding: 0.75rem 0.75rem 0.625rem;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem; 
  margin-top: 1rem;
}

.job-card {
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: #fff;
  width: 100%;
  min-height: 4.5rem;
}

.job-card__content {
  display: grid;
  grid-template-columns: 7.75rem 14.9375rem;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.featured__points li {
  list-style: disc;
}

.tools-box {
  padding: 0.75rem 0.75rem 0.625rem;
}

.tools-list {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.75rem; 
  margin-top: 1rem;
  justify-content: center;
}

.tools-card {
  position: relative;
  display: flex;
  padding: 0.5rem ;
  border-radius: 0.75rem;
  background-color: #fff;
  min-height: 3rem;
  margin: 0 0.5rem;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tools__title {
  position: absolute;
  min-width: 1.5rem;
  block-size: 0.6875rem;
  max-width: 5rem;
  background-color: #000;
  border-radius: 3.6875rem;
  padding: 2px 6px;
  top: -5px; 
}

/* content-middle styles end */


/* content-end styles start */

.content-end {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 16.75rem 16.6875rem;
  gap: 1.25rem;
}

.education {
  padding: 0.75rem 0.625rem 0.625rem;
}

.education-list {
  display: flex;
  gap: 1rem;
}

.education-card {
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: #fff;
  inline-size: 7.25rem;
  min-height: 4.5rem;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tags-list li{
  margin-right: 2px;
}

.tags-list li:last-child {
  margin-right: 0; 
}

.interests__contact-info {
  display: grid;
  grid-template-rows: 11.0625rem 5.75rem;
  gap: 1.25rem;
}

.interests {
  padding: 0.75rem;
}

.interests-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0.75rem 0.75rem;
}

.interests-card {
  min-width: 2rem;
  block-size: 1.4375rem;
  padding: 0.25rem 0.625rem;
  background-color: #fff;
  border-radius: 2.5rem;
}


.contact {
  padding: 0.75rem;
}

.contact a {
  color: #ddd;
  text-decoration: none;
}

/* content-end styles end */